@using LiveMapDashboard.Web.Models.Poi
@using LiveMapDashboard.Web.Models.Suggestion
@model LiveMapDashboard.Web.Models.Suggestion.SuggestionFormViewModel

<div class="max-w-12xl pt-2 px-4 sm:px-6 lg:px-6 mx-auto">
    <div class="flex justify-between">
        <a href="javascript:history.back()"
           class="bg-transparent hover:bg-transparent px-4 py-2 text-blue-500 hover:text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left inline-block mr-1 w-4 h-4"><path d="m12 19-7-7 7-7" /><path d="M19 12H5" /></svg>
            Terug
        </a>
    </div>

    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="mt-2 bg-teal-100 border border-teal-200 text-sm text-teal-800 rounded-lg p-4 dark:bg-teal-800/10 dark:border-teal-900 dark:text-teal-500" role="alert" tabindex="-1" aria-labelledby="hs-soft-color-success-label">
            @ViewData["SuccessMessage"]
        </div>
    }

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="mt-2 bg-red-100 border border-red-200 text-sm text-red-800 rounded-lg p-4 dark:bg-red-800/10 dark:border-red-900 dark:text-red-500" role="alert" tabindex="-1" aria-labelledby="hs-soft-color-danger-label">
            @ViewData["ErrorMessage"]
        </div>
    }
</div>

<div class="max-w-12xl px-4 pb-10 sm:px-6 lg:px-6 lg:pb-14 mx-auto">
    <form id="approvalForm" method="post" asp-controller="Suggestion" asp-action="Approve">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>

        <input type="hidden" asp-for="RfcId" />
        <input type="hidden" asp-for="Message" />
        <input type="hidden" asp-for="Coordinate.Latitude" />
        <input type="hidden" asp-for="Coordinate.Longitude" />
        <input type="hidden" asp-for="MapId" />

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

            <div>
                @await Html.PartialAsync("~/Views/Shared/Components/PoiSuggestionForm/_Suggestion.cshtml", Model)
                @await Html.PartialAsync("~/Views/Shared/Components/PoiForm/_Map.cshtml", Model as PoiCrudformViewModel)
            </div>

            <div>
                @await Html.PartialAsync("~/Views/Shared/Components/PoiForm/_LocationButton.cshtml")
                @await Html.PartialAsync("~/Views/Shared/Components/PoiForm/_FormFields.cshtml")
                @await Html.PartialAsync("~/Views/Shared/Components/PoiForm/_OpeningHours.cshtml")
            </div>
        </div>
    </form>
</div>

<script>
    function confirmLeave() {
        if (confirm("Are you sure you want to leave this page?")) {
            window.location.href = "javascript:history.back()";
        }
    }
</script>