@* @{ *@
@*     ViewData["Title"] = "Home Page"; *@
@* } *@

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .calculation-box {
        height: 75px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        text-align: center;
    }

    p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }

    .maplibregl-map {
        height: 50vh;
        width: 100%;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://www.unpkg.com/@@mapbox/mapbox-gl-draw@1.5.0/dist/mapbox-gl-draw.js"></script>
<link rel="stylesheet"
      href="https://www.unpkg.com/@@mapbox/mapbox-gl-draw@1.5.0/dist/mapbox-gl-draw.css" />

<div class="card">
    <div class="card-header">
        ParkNaam
    </div>
    <div class="card-body">
        <div class="card">
            <div id="map"></div>
        </div>

        <div class="pt-3">
            <a href="#" class="btn btn-primary" id="drawMap">Tekenen</a>
        </div>

        <div class="pt-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="longitudeInput">Longitude</label>
                        <input type="text" class="form-control" id="longitudeInput" aria-describedby="longitude">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="latitudeInput">Latitude</label>
                        <input type="text" class="form-control" id="latitudeInput" aria-describedby="latitude">
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button type="button" class="btn btn-primary w-100" id="submitGo">Zoek</button>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button type="button" class="btn btn-primary w-100" id="searchPark">Naar Park</button>
                </div>
            </div>
        </div>

        <div class="pt-3">
            <a href="#" class="btn btn-primary" id="saveMap">Opslaan</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Verwijderen
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Bevestiging</h5>
                        </div>
                        <div class="modal-body">
                            <h2>Weet u zeker dat u de parkgrens wilt verwijderen?</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDelete">Verwijderen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/park-boundaries-maplibre.js" asp-append-version="true" type="module"></script>