@using LiveMapDashboard.Web.Models.Dashboard;
@model DashboardViewModel

@{
    ViewData["Title"] = $"Dashboard: {Model.MapName ?? string.Empty}";
}

<h1>@ViewData["Title"]</h1>
@if (Model.MapId is null)
{
    <p>
        Currently no park has been selected. In order to proceed with using the application,
        please select a park you wish to manage
    </p>
}

<div>
    <select asp-for="MapId" id="mapSelector">
    @foreach ((string id, string name) in Model.Maps)
    {
        if (Model.MapId.Equals(id))
        {
            <option selected value="@id">
                @name
            </option>
        }
        else
        {
            <option value="@id">
                @name
            </option>
        }
    }
    </select>

    <button onclick="navigateToSelectedMap()">Switch</button>
</div>

@section Scripts {
    <script>
        function navigateToSelectedMap() {
            const mapId = document.getElementById("mapSelector").value;
            window.location.href = `/${mapId}`;
        }
    </script>
}