@using LiveMapDashboard.Web.Models.Poi
@model LiveMapDashboard.Web.Models.Poi.PoiCrudformViewModel

<div>
    <!-- Kaart -->
    <div class="card w-full z-10 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700 rounded-lg">
        <div class="card-body w-full h-full">
            <div id="map" class="h-[50vh] w-full rounded-lg"></div>
        </div>
    </div>
</div>
