@using LiveMapDashboard.Web.Models.Poi
@model LiveMapDashboard.Web.Models.Poi.PoiCrudformViewModel

<div class="bg-gray-100 border rounded-lg h-[500px] flex items-center justify-center text-gray-500 text-sm">
    Map placeholder
</div>